.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  width: 350px;
  height: 300px;
  font-size: 20px;
  background-color: var(--primary);
  border-radius: 50px;
}
