.texte1 {
  color: var(--primary);
  font-size: 34px;
  padding-left: 30px;
  padding-top: 20px;
  margin: 0;
  width: 20%;
}

.videocard {
  background-color: white;
  width: 50%;
  display: flex;
  height: 400px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.alignment {
  display: flex;
  flex-direction: row;
}

.textelogin {
  color: var(--primary);
  font-size: 20px;
  align-items: center;
  justify-content: center;
  align-items: start;
  display: flex;
  width: 50%;
  padding-top: 30px;
  height: 100%;
}
